<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="common/include :: header('服务单项列表')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="post-form">
					<div class="select-list">
						<ul>
							<li>
								<label>到店时间： </label>
								<input type="text" class="timeInput" id="startTime" placeholder="开始时间" name="startTime"/>
								<span>-</span>
								<input type="text" class="timeInput" id="endTime" placeholder="结束时间" name="endTime"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:post:add">
					<i class="fa fa-plus"></i> 新增
				</a>
				<a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:post:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:post:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
	        </div>
	        
	        <div class="col-sm-12 select-table table-striped" >
			    <table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	<th:block th:include="common/include :: footer" />
	<th:block th:include="common/include :: datetimepicker" />
	<script th:inline="javascript">
		var editFlag = [[${@permission.hasPermi('system:post:edit')}]];
		var removeFlag = [[${@permission.hasPermi('system:post:remove')}]];
		var statementStatusDatas = [[${@dict.getType('statement_status')}]];
		var serviceCatalogDatas = [[${@dict.getType('cmi_service_type')}]];
		var prefix = ctx + "/business/statement";
		$(function() {
		    var options = {
		        url: prefix + "/query",
		        createUrl: prefix + "/addPage",
		        updateUrl: prefix + "/editPage?id={id}",
		        removeUrl: prefix + "/remove",
		        modalName: "服务单项",
		        columns: [{
		            checkbox: true
		        },
		        {
		            field: 'id',
		            title: '客户id',
					visible: false
		        },
				{
					field: 'customerName',
					title: '客户名称',
					visible: true
				},
		        {
		            field: 'customerPhone',
		            title: '联系方式',
		            sortable: true
		        },
		        {
		            field: 'actualArrivalTime',
		            title: '到店时间',
		            sortable: true
		        },
		        {
		            field: 'licensePlate',
		            title: '车牌号码',
		            sortable: true
		        },
				{
					field: 'carSeries',
					title: '汽车类型',
					sortable: true
				},
				{
		            field: 'appointmentId',
		            title: '预约用户',
		            sortable: true,
					formatter: function(value, row, index) {
						return value?'是':'否';
					}
		        },
				{
		            field: 'status',
		            title: '结算状态',
		            sortable: true,
					formatter: function(value, row, index) {
						return $.table.selectDictLabel(statementStatusDatas, value);
					}
		        },
				{
		            field: 'serviceType',
		            title: '服务类型',
		            sortable: true,
					formatter: function(value, row, index) {
						return $.table.selectDictLabel(serviceCatalogDatas, value);
					}
		        },
		        {
		            title: '操作',
		            align: 'center',
					formatter: function(value, row, index) {
						var actions = [];
						// 已支付 不能编辑和删除
						let paymentFlag = row.status?'disabled':'';
						actions.push('<a class="btn btn-success btn-xs ' + paymentFlag + '" href="javascript:void(0)" ' +
								'onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
						actions.push('<a class="btn btn-warning btn-xs " href="javascript:void(0)" ' +
								'onclick="detail(\'' + row.id + '\')"><i class="glyphicon glyphicon-list-alt"></i>明细</a> ');
						actions.push("<a class='btn btn-danger btn-xs "+paymentFlag+"' href='javascript:void(0)' onclick='$.operate.remove(" + row.id + ")'><i class='\n" +
								"glyphicon glyphicon-remove-circle'></i>删除</a> ");
						return actions.join('');
					}
		        }]
		    };
		    $.table.init(options);
		});
		function cancel(id){
			$.modal.confirm("确认要取消预约吗？", function() {
				$.operate.submit(prefix + "/cancel?id="+id, "post");
			});
		}
		$(".timeInput").datetimepicker({
			format: "yyyy-mm-dd hh:ii",
			autoclose: true
		});

		function detail(id) {
			var url= ctx + 'business/statementItem/itemDetail?statementId=' + id;
			$.modal.openTab("结算单明细", url);
		}
	</script>
</body>
</html>