<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.car.business.mapper.BusLeaveMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.car.business.domain.BusLeave">
    <result column="id" property="id" />
    <result column="name" property="name" />
    <result column="reason" property="reason" />
    <result column="startTime" property="startTime" />
    <result column="endTime" property="endTime" />
    <result column="auditId" property="auditId" />
    <result column="status" property="status" />
    <result column="info" property="info" />
    <result column="user_name" property="user.userName" />
  </resultMap>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into bus_leave (name, reason, startTime, endTime, auditId, status, info
      )
    values (#{name}, #{reason}, #{startTime}, #{endTime}, #{auditId}, #{status}, #{info}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, reason, startTime, endTime, auditId, status, info
    from bus_leave
  </select>
  <select id="selectForList" resultMap="BaseResultMap">
    select bus.id,
           bus.name,
           bus.reason,
           bus.startTime,
           bus.endTime,
           bus.auditId,
           bus.status,
           bus.info,
           auditor.user_name
    from bus_leave bus
    JOIN sys_user auditor ON auditId = auditor.id
    <where>
      <if test="status != null and status != ''">
        and bus.status = #{status}
      </if>
      <if test="startTime != null">
        and startTime >= #{startTime}
      </if>
      <if test="endTime != null">
        and endTime &lt;= #{endTime}
      </if>
      <if test="id != null">
        and auditId = #{id}
      </if>
    </where>
  </select>
    <select id="selectById" resultMap="BaseResultMap">
      select id, name, reason, startTime, endTime, auditId, status, info
      from bus_leave where id = #{id}
    </select>
</mapper>